<div class="content-wrap">
  <div class="common-box ant-row" nz-row>
    新建推送
  </div>
  <div class="container-wrap p10i">
    <div nz-row class="common-row">
      <div nz-col [nzSpan]="18">
        <app-custom-form [options]="form"></app-custom-form>
      </div>
    </div>
  </div>
  <div class="common-box ant-row" nz-row>
    <!--draft// 0不是草稿，1是草稿-->
    <button (click)="submit(1)" nz-button [disabled]="!form.formGroup.valid" [nzType]="'default'" appButtonClick appPermission>保存草稿</button>
    <button (click)="submit(0)" nz-button [disabled]="!form.formGroup.valid" [nzType]="'default'" appButtonClick appPermission>发送</button>
    <button (click)="cancel()" nz-button [nzType]="'default'" appPermission>取消</button>
  </div>
</div>
