<div>
  <div class="policy-version-box">
    <ng-container>iOS5.0+</ng-container>
  </div>
  <div *ngFor="let form of forms; let i = index;" class="policy-item-content-block">
    <div class="policy-item-add-or-sub">
      <button nz-button [nzType]="'default'" (nzdisabled)="type === 'view'" (click)="add()">
        <span>+</span>
      </button>
      <button nz-button [nzType]="'default'" (nzdisabled)="type === 'view'" (click)="del(i)">
        <span>-</span>
      </button>
    </div>
    <form nz-form [formGroup]="form" [nzLayout]="'vertical'">
      <div nz-form-item nz-row>
        <div nz-form-label nz-col>
          <label class="w320i" nz-form-item-required>帐户描述</label>
          <p class="text-tip">帐户的显示名称（例如：“公司 LDAP 账户”）</p>
        </div>
        <div nz-col nz-form-control [nzValidateStatus]="getFormControl(i, 'LDAPAccountDescription')">
          <input class="w320i" formControlName="LDAPAccountDescription" nz-input placeholder="[必填]" [nzDisabled]="type === 'view'"
                 [nzSize]="'large'">
          <div nz-form-explain
               *ngIf="getFormControl(i, 'LDAPAccountDescription').dirty&&getFormControl(i, 'LDAPAccountDescription').hasError('required')">
            必填项不能为空
          </div>
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col>
          <label class="w320i" >账户用户名</label>
          <p class="text-tip">此 LDAP 账户的用户名</p>
        </div>
        <div nz-col nz-form-control [nzValidateStatus]="getFormControl(i, 'LDAPAccountUserName')">
          <input class="w320i" formControlName="LDAPAccountUserName" nz-input placeholder="[可选]" [nzDisabled]="type === 'view'"
                 [nzSize]="'large'">
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col>
          <label class="w320i">帐户密码</label>
          <p class="text-tip">此 LDAP 的账号密码</p>
        </div>
        <div nz-col nz-form-control [nzValidateStatus]="getFormControl(i, 'LDAPAccountPassword')">
          <input type="password" class="w320i" formControlName="LDAPAccountPassword" nz-input nz-input placeholder="[可选]" [nzDisabled]="type === 'view'"
                 [nzSize]="'large'">
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col>
          <label class="w320i" nz-form-item-required>账户的主机名</label>
          <p class="text-tip">LDAP 主机名或 IP 地址</p>
        </div>
        <div nz-col nz-form-control [nzValidateStatus]="getFormControl(i, 'LDAPAccountHostName')">
          <input class="w320i" formControlName="LDAPAccountHostName" nz-input placeholder="[必填]" [nzDisabled]="type === 'view'"
                 [nzSize]="'large'">
          <div nz-form-explain
               *ngIf="getFormControl(i, 'LDAPAccountHostName').dirty&&getFormControl(i, 'LDAPAccountHostName').hasError('required')">
            必填项不能为空
          </div>
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col>
          <label nz-checkbox [nzDisabled]="type === 'view'" formControlName="LDAPAccountUseSSL">
            <span>使用 SSL</span>
          </label>
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col>
          <label class="w320i" >搜索设置</label>
          <p class="text-tip">搜索此 LDAP 服务器的设置</p>
        </div>
        <div class="list-widget">
          <nz-table #nzTable
                    [nzAjaxData]="lists[i]"
                    [nzIsPagination]="false">
            <tbody nz-tbody>
            <tr nz-tbody-tr>
              <td nz-td><span>描述</span></td>
              <td nz-td><span>范围</span></td>
              <td nz-td><span>搜索基准</span></td>
            </tr>
            <tr nz-tbody-tr *ngFor="let data of nzTable.data;let i = index;"
                class="stripe-table"
                [class.application-item]="data.LDAPSearchSettingDescription"
                [class.active]="data.isActive"
                [class.view]="type === 'view'"
                (click)="changeActive(data);">
              <td nz-td><span>{{data.LDAPSearchSettingDescription}}</span></td>
              <td nz-td><span>{{data.LDAPSearchSettingScope}}</span></td>
              <td nz-td><span>{{data.LDAPSearchSettingSearchBase}}</span></td>
            </tr>
            </tbody>
          </nz-table>
        </div>
        <div *ngIf="type !=='view'">
          <button nz-button [nzType]="'default'" (click)="addSearch(i, title, content, footer)">
            <span>+</span>
          </button>
          <button nz-button [nzType]="'default'" (click)="delSearch(i)">
            <span>-</span>
          </button>
        </div>
      </div>
    </form>
  </div>
  <ng-template #title>
    <span>添加搜索设置</span>
  </ng-template>
  <ng-template #content>
    <div>
      <form nz-form [formGroup]="listForm">
        <div nz-form-item nz-row>
          <div nz-form-label nz-col [nzSpan]="6">
            <label nz-form-item-required>描述</label>
          </div>
          <div nz-col [nzSpan]="15" nz-form-control [nzValidateStatus]="getListFormControl('LDAPSearchSettingDescription')">
            <input class="w" formControlName="LDAPSearchSettingDescription" nz-input
                   [nzSize]="'large'" (keyup.enter)="handleOk()">
            <div nz-form-explain
                 *ngIf="getListFormControl('LDAPSearchSettingDescription').dirty&&getListFormControl('LDAPSearchSettingDescription').hasError('required')">
              必填项不能为空
            </div>
          </div>
        </div>
        <div nz-form-item nz-row>
          <div nz-form-label nz-col [nzSpan]="6">
            <label nz-form-item-required>范围</label>
          </div>
          <div nz-col [nzSpan]="15" nz-form-control [nzValidateStatus]="getListFormControl('LDAPSearchSettingScope')">
            <input class="w" formControlName="LDAPSearchSettingScope" nz-input
                   [nzSize]="'large'" (keyup.enter)="handleOk()">
            <div nz-form-explain
                 *ngIf="getListFormControl('LDAPSearchSettingScope').dirty&&getListFormControl('LDAPSearchSettingScope').hasError('required')">
              必填项不能为空
            </div>
          </div>
        </div>
        <div nz-form-item nz-row>
          <div nz-form-label nz-col [nzSpan]="6">
            <label nz-form-item-required>搜索基准</label>
          </div>
          <div nz-col [nzSpan]="15" nz-form-control [nzValidateStatus]="getListFormControl('LDAPSearchSettingSearchBase')">
            <input class="w" formControlName="LDAPSearchSettingSearchBase" nz-input
                   [nzSize]="'large'" (keyup.enter)="handleOk()">
            <div nz-form-explain
                 *ngIf="getListFormControl('LDAPSearchSettingSearchBase').dirty&&getListFormControl('LDAPSearchSettingSearchBase').hasError('required')">
              必填项不能为空
            </div>
          </div>
        </div>
      </form>
    </div>
  </ng-template>
  <ng-template #footer>
    <div>
      <button type="button" nz-button [nzType]="'primary'" [nzSize]="'large'" (click)="handleOk()"
              [disabled]="!listForm.valid">
        保存
      </button>
    </div>
  </ng-template>
</div>
