<div>
  <div class="policy-version-box">
    iOS5.0+
  </div>
  <div *ngFor="let form of forms; let i = index;" class="policy-item-content-block">
    <div class="policy-item-add-or-sub">
      <button nz-button [nzType]="'default'" (click)="add()">
        <span>+</span>
      </button>
      <button nz-button [nzType]="'default'" (click)="del(i)">
        <span>-</span>
      </button>
    </div>
    <form nz-form [formGroup]="form" [nzLayout]="'vertical'">
      <div nz-form-item nz-row>
        <div nz-form-label nz-col>
          <label class="w320i">帐户描述</label>
          <p class="text-tip">帐户的显示名称（例如：“公司 CardDAV 帐户”）</p>
        </div>
        <div nz-col nz-form-control [nzValidateStatus]="getFormControl(i, 'CardDAVAccountDescription')">
          <input class="w320i" formControlName="CardDAVAccountDescription" nz-input placeholder="未选择" [nzDisabled]="type === 'view'"
                 [nzSize]="'large'">
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col>
          <label nz-form-item-required>帐户主机名和端口</label>
          <p class="text-tip">CardDAV 主机名或 IP 地址及端口号</p>
        </div>
        <div class="w320i">
          <div nz-form-control>
            <div nz-col [nzSpan]="17">
              <div nz-form-item nz-row>
                <div>
                  <div nz-form-control [nzValidateStatus]="getFormControl(i, 'CardDAVHostName')">
                    <input class="w" formControlName="CardDAVHostName" nz-input placeholder="[必填]" [nzDisabled]="type === 'view'"
                           [nzSize]="'large'">
                    <div nz-form-explain *ngIf="getFormControl(i, 'CardDAVHostName').dirty&&getFormControl(i, 'CardDAVHostName').hasError('required')">
                      必填项不能为空
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div nz-col [nzSpan]="1">
              <p nz-form-split>：</p>
            </div>
            <div nz-col [nzSpan]="6">
              <div nz-form-item nz-row>
                <div>
                  <div nz-form-control [nzValidateStatus]="getFormControl(i, 'CardDAVPort')">
                    <nz-input-number class="w pl1i policy-port" formControlName="CardDAVPort" [nzSize]="'large'" [nzMin]="0" [nzMax]="65535" [nzStep]="1" [nzDisabled]="type === 'view'" ></nz-input-number>
                    <div nz-form-explain *ngIf="getFormControl(i, 'CardDAVPort').dirty&&getFormControl(i, 'CardDAVPort').hasError('required')">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col>
          <label class="w320i">主体URL</label>
          <p class="text-tip">CardDAV帐户的主体URL</p>
        </div>
        <div nz-col nz-form-control [nzValidateStatus]="getFormControl(i, 'CardDAVPrincipalURL')">
          <input class="w320i" formControlName="CardDAVPrincipalURL" nz-input placeholder="[可选]" [nzDisabled]="type === 'view'"
                 [nzSize]="'large'">
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col>
          <label class="w320i">帐户用户名</label>
          <p class="text-tip">CardDAV用户名</p>
        </div>
        <div nz-col nz-form-control [nzValidateStatus]="getFormControl(i, 'CardDAVUsername')">
          <input class="w320i" formControlName="CardDAVUsername" nz-input placeholder="[在设备上设置]" [nzDisabled]="type === 'view'"
                 [nzSize]="'large'">
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col>
          <label class="w320i">帐户密码</label>
          <p class="text-tip">CalDAV密码</p>
        </div>
        <div nz-col nz-form-control [nzValidateStatus]="getFormControl(i, 'CardDAVPassword')">
          <input type="password" class="w320i" formControlName="CardDAVPassword" nz-input placeholder="[可选]" [nzDisabled]="type === 'view'"
                 [nzSize]="'large'">
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col>
          <label nz-checkbox [nzDisabled]="type === 'view'" formControlName="CardDAVUseSSL">
            <span>使用SSL</span>
          </label>
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col>
          <label class="w320i">通信服务规则</label>
          <p class="text-tip">选取通过此账户呼叫联系人时使用的默认应用</p>
        </div>
        <button *ngIf="!selectedApps[i]" nz-button [nzType]="'default'" [disabled]="type === 'view'"  (click)="selectApp(i)">选取...</button><span class="text-tip" *ngIf="!selectedApps[i]">可选</span>
        <div nz-row *ngIf="selectedApps[i]">
          <div nz-col [nzSpan]="18">
            <img [src]="selectedApps[i].artworkUrl60" alt="" height="25" width="25" class="va-11"><span>{{selectedApps[i].trackName}}</span>
          </div>
          <div nz-col [nzSpan]="6">
            <button nz-button [nzType]="'default'" (click)="selectedApps[i] = null;">移除</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
