<div>
  <div class="policy-version-box">
    <ng-container *ngIf="system === 'Android'">Android4.4+</ng-container>
    <ng-container *ngIf="system === 'iOS'">iOS5.0+</ng-container>
  </div>
  <div *ngFor="let item of data" class="mb10">
    <ng-container *ngIf="item.system.indexOf(system) !== -1">
      <div class="mb5" [class.text-diseditable]="type === 'view'">{{item.label}}</div>
      <div class="text-tip mb5" *ngIf="type !== 'view'">{{item.tip}}</div>
      <ng-container *ngIf="item.field === 'maxPINAgeInDays'">
        <ng-container *ngIf="!(type === 'view' && !item.value)">
          <nz-input-number [nzDisabled]="type === 'view'" class="w120i pl1i policy-port" [nzSize]="'large'"
                           [nzMin]="0" [nzMax]="730" [nzStep]="1"
                           [nzPlaceHolder]="'1~730，0表示永久'" [(ngModel)]="item.value"></nz-input-number>
        </ng-container>
        <ng-container *ngIf="type === 'view' && !item.value">
          <span class="nz-input-w120i"><nz-input [ngModel]="'永久'" [nzDisabled]="true"></nz-input></span>
        </ng-container>
      </ng-container>
      <ng-container *ngIf="item.field !== 'maxPINAgeInDays'">
        <nz-select [nzDisabled]="type === 'view'" class="w120" [(ngModel)]="item.value" [nzPlaceHolder]="'--'">
          <nz-option
            *ngFor="let option of item.options"
            [nzLabel]="option.label"
            [nzValue]="option.value">
          </nz-option>
        </nz-select>
      </ng-container>
    </ng-container>
  </div>
</div>
