<form nz-form [formGroup]="form">
  <div nz-form-item nz-row>
    <div nz-form-label nz-col [nzSpan]="6">
      <label nz-form-item-required>旧密码</label>
    </div>
    <div nz-col [nzSpan]="15" nz-form-control [nzValidateStatus]="getFormControl('oldPassword')">
      <nz-input formControlName="oldPassword" [nzType]="'password'"
                [nzPlaceHolder]="'请输入旧密码'" [nzSize]="'large'">
      </nz-input>
      <div nz-form-explain
           *ngIf="getFormControl('oldPassword').dirty&&getFormControl('oldPassword').hasError('required')">
        请输入旧密码！
      </div>
    </div>
  </div>
  <div nz-form-item nz-row>
    <div nz-form-label nz-col [nzSpan]="6">
      <label nz-form-item-required>新密码</label>
    </div>
    <div nz-col [nzSpan]="15" nz-form-control [nzValidateStatus]="getFormControl('newPassword')">
      <nz-input formControlName="newPassword" [nzType]="'password'"
                [nzPlaceHolder]="'请输入新密码'" [nzSize]="'large'" (ngModelChange)="updateConfirmValidator()">
      </nz-input>
      <div nz-form-explain
           *ngIf="getFormControl('newPassword').dirty&&getFormControl('newPassword').hasError('required')">
        请输入新密码！
      </div>
      <div nz-form-explain
           *ngIf="getFormControl('newPassword').dirty&&getFormControl('newPassword').hasError('pwdPolicy')">
        <span>请输入符合要求的密码！</span>{{pwdPolicyStr}}
      </div>
      <div nz-form-explain
           *ngIf="getFormControl('newPassword').dirty&&getFormControl('newPassword').hasError('confirm')">
        两次密码不相同！
      </div>
    </div>
  </div>
  <div nz-form-item nz-row>
    <div nz-form-label nz-col [nzSpan]="6">
      <label nz-form-item-required>确认新密码</label>
    </div>
    <div nz-col [nzSpan]="15" nz-form-control [nzValidateStatus]="getFormControl('confirmPassword')">
      <nz-input formControlName="confirmPassword" [nzType]="'password'"
                [nzPlaceHolder]="'请确认密码'" [nzSize]="'large'">
      </nz-input>
      <div nz-form-explain
           *ngIf="getFormControl('confirmPassword').dirty&&getFormControl('confirmPassword').hasError('required')">
        请输入新密码！
      </div>
      <div nz-form-explain
           *ngIf="getFormControl('confirmPassword').dirty&&getFormControl('confirmPassword').hasError('pwdPolicy')">
        <span>请输入符合要求的密码！</span>{{pwdPolicyStr}}
      </div>
      <div nz-form-explain
           *ngIf="getFormControl('confirmPassword').dirty&&getFormControl('confirmPassword').hasError('confirm')">
        两次密码不相同！
      </div>
    </div>
  </div>
  <div class="mb0i" nz-form-item nz-row>
    <div class="tar" nz-col [nzSpan]="24" nz-form-control>
      <button nz-button [nzType]="'primary'" [nzSize]="'large'" [disabled]="!form.valid"
              (click)="submit()">保存
      </button>
      <button class="ml20" nz-button [nzSize]="'large'" (click)="handleCancel()">取消</button>
    </div>
  </div>
</form>
