<div>
  <!--<p class="pb10"><i class="anticon anticon-info-circle mr5"></i>一个设备只能存在于一个组</p>-->
  <div class="h400" appCustomScrollbar>
    <app-user-group [type]="'simply'"></app-user-group>
  </div>
  <label *ngIf="isFrom" class="mt20" nz-checkbox [(ngModel)]="keep">
    <span>保留之前所在的组</span>
  </label>
  <div class="mb0i mt20" nz-form-item nz-row>
    <div nz-col [nzSpan]="12" nz-form-control>
      <button nz-button [nzType]="'default'" (click)="addUserGroup()" appPermission="1">
        <span><i class="icon-allicon-20 mr5"></i>添加用户组</span>
      </button>
    </div>
    <div class="tar" nz-col [nzSpan]="12" nz-form-control>
      <button nz-button [nzType]="'primary'" [nzSize]="'large'"
              (click)="submit($event)">确定
      </button>
      <button class="ml20" nz-button [nzSize]="'large'" (click)="handleCancel($event)">取消</button>
    </div>
  </div>
</div>
