<!-- top -->
<div nz-row [nzGutter]="0" class="search-wrap content-search-wrap common-border-left">
  <div nz-col [nzSpan]="16">
    <button nz-button [nzType]="'default'" (click)="visibleRange()" appPermission>
      <span>
        <i class="icon-allicon-63 mr5 f12"></i>
        还原
      </span>
    </button>
    <button nz-button [nzType]="'default'" (click)="downloadPermissions()" appPermission>
      <span><i class="icon-allicon-61 mr5 f14"></i>彻底删除</span>
    </button>
  </div>
  <div nz-col [nzSpan]="8" class="search-col">
    <app-custom-search (searchChange)="searchChange($event)" (doSearch)="doSearch($event)"></app-custom-search>
  </div>
</div>
<!-- table -->
<app-content-recycle-bin-table (distribute)="distribute($event)"></app-content-recycle-bin-table>
